<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentix Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-icons.min.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header>
        <nav class="main-nav navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Our Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agent Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                </ul>
                
                </div>
                <ul class="right-menu">
                    <li><a href="#" class="nav-link"><i class="feather icon-feather-bell"></i></a></li>
                    <li>
                        <a href="#" class="nav-link"><i class="feather icon-feather-user"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="mb-5">Try Out Feature in Action</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="#" class="action-sec mb-4">
                        <img src="img/act-ico1.png" class="w-100" alt="">
                        <span>Product Comparison</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="action-sec mb-4">
                        <img src="img/act-ico2.png" class="w-100" alt="">
                        <span>Repository of Brochure</span>
                    </a>
                </div>                
                <div class="col-lg-3">
                    <a href="#" class="action-sec mb-4">
                        <img src="img/act-ico3.png" class="w-100" alt="">
                        <span>Underwriting & Quote Comparison</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="action-sec mb-4">
                        <img src="img/act-ico4.png" class="w-100" alt="">
                        <span>New Product Launches</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="action-sec">
                        <img src="img/act-ico5.png" class="w-100" alt="">
                        <span>Client Educational Content</span>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="#" class="action-sec">
                        <img src="img/act-ico6.png" class="w-100" alt="">
                        <span>Newsletter</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="mb-4">Offerings you can't miss</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="offerings-sec">
                        <div class="offering-img">
                            <img src="img/serv1.png" alt="">
                        </div>
                        <div class="offering-feature">
                            <ul>
                                <li>Email Quotation to Client</li>
                                <li>Product Rating</li>
                            </ul>

                            <ul id="more">
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Product Rating</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                            <button onclick="myFunction()" id="feaBtn">More Features</button>

                            <a href="#" class="btn btn-subs">Subscribe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="offerings-sec">
                        <div class="offering-img">
                            <img src="img/serv2.png" alt="">
                        </div>
                        <div class="offering-feature">
                            <ul>
                                <li>Email Quotation to Client</li>
                                <li>Product Rating</li>
                            </ul>

                            <ul id="more_1">
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Product Rating</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                            <button onclick="myFunction1()" id="feaBtn_1">More Features</button>

                            <a href="#" class="btn btn-subs">Subscribe</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="offerings-sec">
                        <div class="offering-img">
                            <img src="img/serv3.png" alt="">
                        </div>
                        <div class="offering-feature">
                            <ul>
                                <li>Email Quotation to Client</li>
                                <li>Product Rating</li>
                            </ul>

                            <ul id="more_2">
                                <li>Lorem ipsum dolor sit amet.</li>
                                <li>Product Rating</li>
                                <li>Lorem ipsum dolor sit amet.</li>
                            </ul>
                            <button onclick="myFunction2()" id="feaBtn_2">More Features</button>

                            <a href="#" class="btn btn-subs">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-head-flex">
                        <div class="foot-logo">
                            <img src="img/logo.png" alt="">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="footer-menus">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Insurers</a></li>
                                <li><a href="#">Sign up</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="footer-menus">
                                <li><a href="#">Work with us</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Referral program</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h6>Contact</h6>
                            <ul class="footer-menus">                               
                                <li><a href="#">contact@agentix.com</a></li>
                                <li><a href="#">(+91)-9987764627</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 footer-text">
                    <ul class="footer-menus d-flex align-items-center">                               
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p>Made with ♡ favorite in India</p>
                    <p>© Mititek Ventures Pvt Ltd | All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        function myFunction() {
        
          var moreText = document.getElementById("more");
          var btnText = document.getElementById("feaBtn");
        
          if (moreText.style.display === "none") {
            btnText.innerHTML = "More Features"; 
            moreText.style.display = "none";
          } else {
            btnText.style.display = "none";
            moreText.style.display = "block";
          }
        }
        </script>

<script>
    function myFunction1() {
    
      var moreText1 = document.getElementById("more_1");
      var btnText1 = document.getElementById("feaBtn_1");
    
      if (moreText1.style.display === "none") {
        btnText1.innerHTML = "More Features"; 
        moreText1.style.display = "none";
      } else {
        btnText1.style.display = "none";
        moreText1.style.display = "block";
      }
    }
    </script>

<script>
    function myFunction2() {
    
      var moreText2 = document.getElementById("more_2");
      var btnText2 = document.getElementById("feaBtn_2");
    
      if (moreText2.style.display === "none") {
        btnText2.innerHTML = "More Features"; 
        moreText2.style.display = "none";
      } else {
        btnText2.style.display = "none";
        moreText2.style.display = "block";
      }
    }
    </script>
</body>
</html>