	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentix Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-icons.min.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<style>
    table{
        vertical-align: middle !important;
    }
    table.table tbody tr td {
    /* width: 389px; */
    font-size: 14px;
}
</style>
<body>
    <header>
        <nav class="main-nav navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Our Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agent Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                </ul>
                
                </div>
                <ul class="right-menu">
                    <li><a href="#" class="nav-link"><i class="feather icon-feather-bell"></i></a></li>
                    <li>
                        <a href="#" class="nav-link"><i class="feather icon-feather-user"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-3">
                    <h1>Product Repository</h1>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Policy</th>
                                <th>Policy Wording</th>
                                <th>Brochure</th>
                                <th>Send Email Document</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Health Guard</td>
                                <td><a href="#" class="btn btn-warning"><i class="feather icon-feather-download"></i></a></td>
                                <td><a href="#" class="btn btn-success"><i class="feather icon-feather-download"></i></a></td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repform"><i class="feather icon-feather-envelope"></i> Send in Email</button></td>
                               
                            </tr>
                            <tr>
                                <td>Arogya Sanjeevani Policy,
                                    Bajaj Allianz General Insurance Company Limited</td>
                                <td><a href="#" class="btn btn-warning"><i class="feather icon-feather-download"></i></a></td>
                                <td><a href="#" class="btn btn-success"><i class="feather icon-feather-download"></i></a></td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repform"><i class="feather icon-feather-envelope"></i> Send in Email</button>
                                </td>
                               
                            </tr>
                            <tr>
                                <td>Critical Illness</td>
                                <td><a href="#" class="btn btn-warning"><i class="feather icon-feather-download"></i></a></td>
                                <td><a href="#" class="btn btn-success"><i class="feather icon-feather-download"></i></a></td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repform"><i class="feather icon-feather-envelope"></i> Send in Email</button>
                                </td>
                               
                            </tr>
                            <tr>
                                <td>Extra Care</td>
                                <td><a href="#" class="btn btn-warning"><i class="feather icon-feather-download"></i></a></td>
                                <td><a href="#" class="btn btn-success"><i class="feather icon-feather-download"></i></a></td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repform"><i class="feather icon-feather-envelope"></i> Send in Email</button></td>
                               
                            </tr>
                            <tr>
                                <td>Health Guard</td>
                                <td><a href="#" class="btn btn-warning"><i class="feather icon-feather-download"></i></a></td>
                                <td><a href="#" class="btn btn-success"><i class="feather icon-feather-download"></i></a></td>
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repform"><i class="feather icon-feather-envelope"></i> Send in Email</button></td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

 
    
  <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-head-flex">
                        <div class="foot-logo">
                            <img src="img/logo.png" alt="">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="footer-menus">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Insurers</a></li>
                                <li><a href="#">Sign up</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="footer-menus">
                                <li><a href="#">Work with us</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Referral program</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h6>Contact</h6>
                            <ul class="footer-menus">                               
                                <li><a href="#">contact@agentix.com</a></li>
                                <li><a href="#">(+91)-9987764627</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 footer-text">
                    <ul class="footer-menus d-flex align-items-center">                               
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p>Made with ♡ favorite in India</p>
                    <p>© Mititek Ventures Pvt Ltd | All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  <!-- modal form -->
    <!-- Modal -->
    <div class="modal fade" id="repform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <form action="" class="rep-form">
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="mb-4">Send Documents in Email</h3>                      
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" class="w-100" placeholder="Enter Name">
                           
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="w-100" placeholder="Enter Email Address">
                            
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="w-100" placeholder="Enter Mobile Number">
                        </div>
                        <div class="col-lg-12">
                            <button type="button" class="btn ">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            
          </div>
        </div>
      </div>
   
</body>
</html>