<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agentix Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-icons.min.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body>
    <header>
        <nav class="main-nav navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Our Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agent Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About us</a>
                    </li>
                </ul>
                
                </div>
                <ul class="right-menu">
                    <li><a href="#" class="nav-link"><i class="feather icon-feather-bell"></i></a></li>
                    <li>
                        <a href="#" class="nav-link"><i class="feather icon-feather-user"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <h1>Compare & Get The Best Insurance Plans in India</h1>
                    </div>
                    
                </div>
                <div class="col-lg-6">
                    <div class="row justify-content-center align-items-center  ">
                        <div class="col-lg-6">
                            <a href="#" class="compare-sec">
                                <div class="com-policy-ico">
                                    <img src="img/cp1.png" alt="">
                                </div>
                                <div class="com-policy-txt">
                                    <h6>Health Insurance</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="compare-sec">
                                <div class="com-policy-ico">
                                    <img src="img/cp2.png" alt="">
                                </div>
                                <div class="com-policy-txt">
                                    <h6>Critical Illness</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6">  
                            <a href="#" class="compare-sec">
                                <div class="com-policy-ico">
                                    <img src="img/cp3.png" alt="">
                                </div>
                                <div class="com-policy-txt">
                                    <h6>Motor Insurance</h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="compare-sec">
                                <div class="com-policy-ico">
                                    <img src="img/cp4.png" alt="">
                                </div>
                                <div class="com-policy-txt">
                                    <h6>Personal Accident</h6>
                                </div>
                            </a>    
                        </div>
                        <div class="col-lg-6">
                            <a href="#" class="compare-sec">
                                <div class="com-policy-ico">
                                    <img src="img/cp5.png" alt="">
                                </div>
                                <div class="com-policy-txt">
                                    <h6>Cyber Insurance</h6>
                                </div>
                            </a>    
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-head-flex">
                        <div class="foot-logo">
                            <img src="img/logo.png" alt="">
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="footer-menus">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Insurers</a></li>
                                <li><a href="#">Sign up</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <ul class="footer-menus">
                                <li><a href="#">Work with us</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Referral program</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4">
                            <h6>Contact</h6>
                            <ul class="footer-menus">                               
                                <li><a href="#">contact@agentix.com</a></li>
                                <li><a href="#">(+91)-9987764627</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 footer-text">
                    <ul class="footer-menus d-flex align-items-center">                               
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p>Made with ♡ favorite in India</p>
                    <p>© Mititek Ventures Pvt Ltd | All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

   
</body>
</html>